.resources-page {
    /* Fill in viewable screen */
    width: 100%;
    height: 100vh;
    margin: 0px;

    /* If children element is exceeding length, overflow to it */
    overflow: auto;
    background-color: #1d1f21;
}

.resources-body {
    /* Normal text color */
    color: #c9cacc;

    /*Article sentence length*/
    width: calc(70vw + 1vh);

    /* Distance between nav bar and title */
    padding: 5vw 0px;

    /* Center the body of this page */
    margin-left: auto;
    margin-right: auto;
}


/* Override Colored Href Links */
.resources-sections a { 
    color:red;
    text-decoration: none
}

.resources-sections h1 {
    color: #2bbc8a;
    border-bottom: 1px solid #2bbc8a;
    font-family: 'JetBrains Mono', monospace;
}

.resources-sections h3 {
    padding-bottom:3px;
    font-family: 'JetBrains Mono', monospace;
    color: white;
}

.resources-sections p {
    font-size: calc(0.82vw + 0.82vh);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Hind'
}

.resources-sections li {
    font-size: calc(0.82vw + 0.82vh);
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 0px;
    font-family: 'Hind'
}

.resources-sections ul {
    padding-bottom: 5%;
}

.resources-list-category {
    padding-top: 5vh;
}
