.special-thanks > h1 {
    font-size: 30px;
    height: 80%;
    font-family: 'Hind'
}

.special-thanks > h2 {
    font-size: 20px;
    height: 80%;
    font-family: 'Hind'
}

.royalty-free-credit > h1 {
    font-size: 30px;
    height: 80%;
    font-family: 'Hind'
}

.royalty-free-credit > h2 {
    font-size: 20px;
    height: 80%;
    font-family: 'Hind'
}