.about-page {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    padding-bottom: 110px;
    display: flex;
}

/* Scales the image for smaller resolutons */
.about-image-container img {
    max-width: 100%;
    width: calc(70vw + 1vh);
    display: block;
    border-radius: 50%;
    border: 5px transparent;
    /* Border shadow of pfp */
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 1);
}


.about-body h2 {
    font-size: 16px;
    font-size: 2.5vw;
    border-bottom: 1px solid black;
    padding-bottom:3px;
}

.about-body p {
    font-size: calc(0.82vw + 0.82vh);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Hind'
}

.about-body li {
    font-size: calc(0.82vw + 0.82vh);
    font-family: 'Hind';
}

.about-section {
    padding-bottom: 5%;
}




/* Resolution specific configs */
@media screen and (min-width: 1400px){
    .about-body {
        letter-spacing: 0px;
        color: #313131;
        display: flex;

        /* Space between pfp and about me sections */
        column-gap: 65px;

        /*Article sentence length*/
        width: calc(70vw + 1vh);

        /* Distance between nav bar and title */
        padding: 5vw 0px;

        /* Takes care of centering for this page */
        margin-left: auto;
        margin-right: auto;
    }

    .about-image-container {
        /* Distance between nav bar and title */
        padding: 5vw 0px;
        display:block;
        margin:auto;
    }

    .about-sections {
        display:block;
        margin:auto;
    }

}



/* In case when I need to resize picture */
/* https://stackoverflow.com/questions/56470223/how-to-resize-img-in-react */
/* TODO: https://blog.hubspot.com/website/css-border-radius-circle */
/* https://www.sliderrevolution.com/resources/css-border-animation/ */

/* If resolution is too small, move my profile picture to the top */
@media screen and (max-width: 1400px){
    
    .about-body {
        letter-spacing: 0px;
        color: #313131;
    
        /*Article sentence length*/
        width: calc(70vw + 1vh);
    
        /* Distance between nav bar and title */
        padding: 5vw 0px;
    
        margin-left: auto;
        margin-right: auto;
    
    }

    .about-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}