/* For Global */
.about-page {
    /* Fill in viewable screen */
    width: 100%;
    height: max-content;
    margin: 0px;

    /* If children element is exceeding length, overflow to it */
    overflow:auto; 
    background-color: #1d1f21;
}

.about-body {
    /* Since the credits page is short, we gotta extend it all the way to viewable screen. */
    height: 100vh;

    /* Distance between nav bar and title */
    padding: 5vw 0px;

    margin-left: auto;
    margin-right: auto;
}

.about-body p {
    color: #c9cacc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Hind';
}

.about-body h1 {
    font-size: 16px;
    font-size: 2.5vw;
    padding-bottom:2px;
    color: #2bbc8a;
    font-family: 'JetBrains Mono', monospace;
}

.about-body ul {
    color: #c9cacc;
    font-family: 'Hind';
    margin-block-start: 1em;
}

.about-section li {
    /* Space between items in list */
    margin: 8px 0;

    /* Fun rainbow text animation */
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

/* Scales the image for smaller resolutons */
.about-image-container img {
    max-width: 100%;
    width: calc(30vw + 30vh);

    border-radius: 50%;
    border: 5px transparent;
    /* Border shadow of pfp */
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 1);
}


/* Resolution specific configs, above 1400px */
@media screen and (min-width: 1400px){
    .about-image-container {
        /* Distance between nav bar and title */
        padding: 5vw 0px;
    }

    .about-body {
        letter-spacing: 0px;
        color: #313131;
        display: flex;

        /* Space between pfp and about me sections */
        column-gap: 85px;

        /*Article sentence length*/
        width: calc(70vw + 1vh);

        /* Distance between nav bar and title */
        padding-top: 25px;

        /* Takes care of centering for this page */
        margin:auto;

        /* Hide double scrollbar when loading this page during transitions */
        overflow: hidden;
    }

    .about-sections {
        /* Add some space at top of About Me section from nav bar */
        padding-top: 5px;
    }

    .about-section {
        /* Add a little space before the next section. */
        padding-bottom: 5%;
    }

    .about-section p {
        font-size: calc(0.60vw + 0.82vh);
    }

    .about-section li {
        font-size: calc(0.65vw + 0.65vh);
    }
}


/* For slightly smaller screens, (820px width --> 1400px width */
@media screen and (min-width: 820px) and (max-width: 1400px){
    .about-body {
        /*Article sentence length*/
        width: calc(70vw + 1vh);
    }

    /* Section Title: [About Me, About The Blog, Blog Disclaimer] */
    .about-body h1 {
        font-size: 62px;
        padding-top: 32px;
    }

    .about-body p {
        font-size: 35px;
    }
    
    .about-body li {
        font-size: calc(0.82vw + 0.82vh);
    }

    .about-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 10%;
    }

    .about-image-container img {
        max-width: 100%;
        width: calc(20vw + 20vh);
        display: block;
        border-radius: 50%;
        border: 5px transparent;
        /* Border shadow of pfp */
        box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 1);
    }

    /* About Me rainbow list of interests */
    .about-body li {
        font-size: 30px;
        margin-block-start: 0.5em;
    }

}


/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 820px) {
    .about-body {
        /*Article sentence length*/
        width: calc(70vw + 8vh);
    }

    /* Section Title: [About Me, About The Blog, Blog Disclaimer] */
    .about-body h1 {
        padding-top: 32px;
        font-size: 62px;
    }

    /* Section body */
    .about-body p {
        font-size: 32px;
    }

    .about-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 10%;
    }

    .about-image-container img {
        max-width: 100%;
        width: calc(20vw + 20vh);
        display: block;
        border-radius: 50%;
        border: 5px transparent;
        /* Border shadow of pfp */
        box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 1);
    }

    /* About Me rainbow list of interests */
    .about-body li {
        font-size: 28px;
        margin-block-start: 0.5em;
    }
}


/* For Mobile */
@media screen and (max-width: 540px){
    .about-body {
        /*Article sentence length*/
        width: calc(70vw + 8vh);
    }

    /* Section Title: [About Me, About The Blog, Blog Disclaimer] */
    .about-body h1 {
        padding-top: 15px;
        font-size: 36px;
        text-align: center;
    }

    /* Section body */
    .about-body p {
        font-size: 24px;
        text-align: center;
    }

    /* About Me rainbow list of interests */
    .about-body li {
        font-size: 20px;
        text-align: center;
        margin-block-start: 1em;
    }

    .about-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 10%;
    }

    .about-image-container img {
        max-width: 100%;
        width: calc(20vw + 20vh);
        display: block;
        border-radius: 50%;
        border: 5px transparent;
        /* Border shadow of pfp */
        box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 1);
    }
}