/* For Global Configs */
.article-page {
    /* Fill in viewable screen */
    width: 100%;
    height: max-content;
    margin: 0px;

    /* If children element is exceeding length, overflow to it */
    overflow: auto;
    background-color: #1d1f21;
}

.article-title {
    text-align: center;
    padding-top: 5%;
    padding-bottom: calc(4vw + 4vh);
    color: #2bbc8a;
    font-family: 'JetBrains Mono', monospace;
}

.article-body {
    /* Font color for main text */
    color: #c9cacc;

    /* Distance between nav bar and title */
    padding: 5vw 0px;

    /* Centers article body to center of screen */
    margin-left: auto;
    margin-right: auto;
}

.article-body h2 {
    border-bottom: 1px solid #2bbc8a;
    padding-bottom:3px;
    color: #2bbc8a;
    font-family: 'JetBrains Mono', monospace;
}

.article-body p {
    font-family: "Hind";
    margin-block-start: 1em;
    margin-block-end: 1em;
}

/* In case when I need to resize picture */
/* https://stackoverflow.com/questions/56470223/how-to-resize-img-in-react */
.article-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-image-container img {
    /* Scales the image for smaller resolutons */
    max-width: 100%;
}




/* Resolution specific configs, above 1400px */
@media screen and (min-width: 1400px){
    .article-title {
        font-size: calc(3vw + 1vh);
    }

    .article-body {
        /*Article sentence length*/
        width: calc(50vw + 1vh);
    }

    .article-body h2 {
        font-size: 2vw;
    }

    .article-body p {
        font-size: calc(.75vw + .75vh);
    }

    .article-image-container img {
        /* Round iamge borders */
        border-radius: 25px;
    }
}


/* For slightly smaller screens, (820px width --> 1400px width */
@media screen and (min-width: 820px) and (max-width: 1400px){
    .article-title {
        font-size: calc(4vw + 1vh);
    }

    .article-body {
        /*Article sentence length*/
        width: calc(90vw + 1vh);
    }

    .article-body h2 {
        font-size: 28px;
    }

    .article-body p {
        font-size: 20px;
    }

    .article-image-container img {
        /* Round iamge borders */
        border-radius: 20px;
    }
}


/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 820px) {
    .article-title {
        font-size: calc(5vw + 1vh);
    }

    .article-body {
        /*Article sentence length*/
        width: calc(90vw + 1vh);
    }

    .article-body h2 {
        font-size: 28px;
    }

    .article-body p {
        font-size: 20px;
    }

    .article-image-container img {
        /* Round iamge borders */
        border-radius: 15px;
    }
}


/* For Mobile */
@media screen and (max-width: 540px){
    .article-title {
        font-size: calc(5vw + 1vh);
    }

    .article-body {
        /*Article sentence length*/
        width: calc(88vw + 1vh);
    }

    .article-body h2 {
        font-size: 28px;
    }

    .article-body p {
        font-size: 19px;
    }

    .article-image-container img {
        /* Round iamge borders */
        border-radius: 10px;
    }
}