.tableOfContents nav {
    
    
    font-size: 20px;
    width: 220px;
    min-width: 220px;
    padding: 38px;
    margin: 30px;
    /* Make sure whatever parent element or container has the display:flex property */
    align-self: flex-start;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 48px;
    max-height: calc(100vh - 70px);
    overflow: auto;
  }
  

  /* When we shouldn't see a ToC anymore (screen too small) */
  @media screen and (max-width: 900px) {
    nav {
      display: none;
    }
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  li.active > a {
    color: green;
  }
  
  li > a:hover {
    color: purple;
  }
  
  /*  Gives a little bit of buffer when header is navigated to */
  h2, h3 {
        padding-top: 16px;
        margin-top: -16px;
  }